# vscode files
.vscode

# pychche
__pycache__

# pytest_cache
.pytest_cache

# tensorboard
events.out.tfevents.*

# weight data
models/*

# temp
temp.py

# expert data
*.dat

# nohup output
nohup.out
core